<div  class="centered"><h3>Memberships</h3></div>
<mat-table [dataSource]="(apiService.memberships$ | async)" class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
  
    <!-- UserId Column -->
    <ng-container matColumnDef="userId">
      <mat-header-cell *matHeaderCellDef> UserId </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
    </ng-container>  
    
     <!-- Membership Column -->
     <ng-container matColumnDef="membership">
      <mat-header-cell *matHeaderCellDef> Membership </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.membership}} </mat-cell>
    </ng-container> 

     <!-- Price Column -->
     <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price(€) </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
    </ng-container>

     <!-- Enroll Column -->
     <ng-container matColumnDef="enroll">
      <mat-header-cell *matHeaderCellDef> Enroll Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.enroll}} </mat-cell>
    </ng-container>

   <!-- Expiration Column -->
   <ng-container matColumnDef="expire">
    <mat-header-cell *matHeaderCellDef> Expire Date </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.expire}} </mat-cell>
  </ng-container>
    
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>