<div  class="centered"><h3>Users</h3></div>
<mat-table [dataSource]="(apiService.users$ | async)" class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
  
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container> 

     <!-- Name Column -->
     <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container> 

     <!-- Address Column -->
     <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
    </ng-container> 

     <!-- EmDobail Column -->
     <ng-container matColumnDef="dob">
      <mat-header-cell *matHeaderCellDef> Dob </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dob}} </mat-cell>
    </ng-container> 

     <!-- Registered Column -->
     <ng-container matColumnDef="registered">
      <mat-header-cell *matHeaderCellDef> Signup time </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.registeredAt}} </mat-cell>
    </ng-container> 

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>